@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "poppins", sans-serif;
}

body{
    height: 100vh;
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}    

.main-container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 90vw;
    max-width: 40em;
    /* background-color: rgb(237, 221, 240); */
    background-color: white;
    padding: 1em;
    box-shadow: 0 0 10px 2px #3333331A;
    border-radius: 10px;
}

.search-container {
    display: grid;
    grid-template-columns: 11fr 1fr;
    gap: 1em;
    margin-bottom: 1em;
}

.search-container input {
    font-size: 1em;
    padding: 0.5em 0.25em;
    border: none;
    outline: none;
    color: #817a7a;
    border-radius: 2px;
    border-bottom: 1.5px solid #817a7a;
}

.search-container input:focus{
    border-color: rgb(237, 221, 240);
}

.search-container button{
    border-radius: 2em;
    /* background-color: rgb(237, 221, 240); */
    background-color: white;
    border: none;
    outline: none;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

#result {
    color: #6e6a6a;
    line-height: 1.75em;
}

#result img {
    display: block;
    max-width: 15em;
    margin: auto;
    margin-top: 2em;
}

#result h2{
    font-size: 1.25em;
    margin: 1em 0 1em 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: black;
    position: relative;
}

#result h3 {
    font-size: 1.1em;
    margin-bottom: 0.2em;
    color: black;
}

#result ul {
    margin-bottom: 1em;
    margin-left: 2em;
    display: grid;
    grid-template-columns: auto auto;
}

#result p {
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 0.95em;
}

@media screen and (max-width: 600px) {
    .main-container {
        font-size: 14px;
    }
}

/* For Random Cocktails */

#random {
    color: #6e6a6a;
    line-height: 1.75em;
}

#random img {
    display: block;
    max-width: 15em;
    margin: auto;
    margin-top: 2em;
}

#random h2{
    font-size: 1.25em;
    margin: 1em 0 1em 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: black;
    position: relative;
}

#random h3 {
    font-size: 1.1em;
    margin-bottom: 0.2em;
    color: black;
}

#random ul {
    margin-bottom: 1em;
    margin-left: 2em;
    display: grid;
    grid-template-columns: auto auto;
}

#random p {
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 0.95em;
}